.faq {
    position: relative;
    margin-bottom: 60px;
    padding: 52px 0 250px;
    min-height: 670px;
    //background: url('../../theme/assets/images/question.svg') no-repeat calc(50% + 156px) 52px;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../../theme/assets/images/faq_bg.webp') no-repeat 92% 0;
        opacity: 0.8;
    }
}

.qa_icon {
    align-self: flex-start;
    width: 18%;
    text-align: end;
    opacity: .1;
}

.bg_texture {
    position: absolute;
    top: -192px;
    left: 0;
    z-index: 0;
    width: 520px;
    height: 729px;
    background: url('../../theme/assets/images/texture_back_secondary.png') no-repeat;
}

.texture {
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 0;
    width: 156px;
    height: 142px;
    background: url('../../theme/assets/images/question.svg') no-repeat;
}

.container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
}

.content_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.description {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 45px;
}

.description_caption {
    margin-bottom: 11px;
    font-family: Exo_Black, sans-serif;
    font-size: var(--main-title-fsize);
    line-height: 66px;
}

.description_info {
    width: 90%;
    font-size: var(--main-fsize);
    line-height: 25px;
}

.questions_list {
    display: flex;
    flex-direction: column;
    height: 560px;

    & .question:last-child {
        margin-bottom: 0;
    }
}

.question {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.question_title {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 9px;
    cursor: pointer;

    .title_arrow,
    .title_arrow_open {
        display: inline-block;
        width: 12px;
        height: 10px;
        margin-right: 8px;
        background: url('../../theme/assets/icons/faq_arrow.svg') no-repeat;
        transition: all .3s ease;
    }

    .title_arrow_open {
        transform: rotate(180deg);
    }

    .title_text,
    .title_text_open {
        font-family: OpenSans_Bold, sans-serif;
        font-size: var(--secondary-fsize);
        line-height: 19px;
        white-space: nowrap;
        transition: all .3s ease;
    }

    .title_text_open {
        color: var(--title-color);
    }
}

.question_descr,
.question_descr_open {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    margin-left: 20px;
    font-size: var(--secondary-fsize);
    line-height: 19px;
    color: var(--title-color);
    transition: all .3s ease;
}

.question_descr_open {
    max-height: 500px;
}

.line_wrap {
    position: relative;
    bottom: -50px;
    z-index: 10;
}

.line_thin {
    position: absolute;
    top: 22px;
    width: 102%;
    height: 39px;
    margin-left: -8px;
    font-family: Exo_Medium, sans-serif;
    font-size: var(--main-fsize);
    line-height: 39px;
    transform: rotate(4deg);
    background: linear-gradient(90deg, #FAB7FE 0%, #5B4CBE 100.87%);
    overflow: hidden;

    & > div {
        animation: scroll 20s infinite linear;
    }

    span {
        white-space: nowrap;
    }

    & span:nth-child(2),
    & span:nth-child(4),
    & span:nth-child(6),
    & span:nth-child(8) {
        font-family: Exo_Bold, sans-serif;
        text-transform: uppercase;
    }
}

@keyframes scroll {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-125%, 0)
    }
}

@media (max-width: 1495px) {
    .faq {
        &:before {
            background: url('../../theme/assets/images/ipad/faq_bg_ipad.png') no-repeat 100% 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1333px) {
    .container {
        margin: 0 var(--container-mg-ipad);
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .faq {
        margin-bottom: 0;
        &:before {
            background: url('../../theme/assets/images/ipad/faq_bg_ipad.png') no-repeat 100% 20%;
        }
    }

    .bg_texture {
        left: -37px;
    }

    .question_title {

        .title_text,
        .title_text_open {
            margin-left: 9px;
            white-space: normal;
        }

        .title_arrow,
        .title_arrow_open {
            margin-right: 0;
            padding-right: 8px;
        }
    }
}