.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: var(--main-bgcolor);
    color: var(--main-color);
}

.main {
    display: flex;
    flex-direction: column;
}