.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: var(--main-bgcolor);
    color: var(--main-color);
    overflow: hidden;
}

.wrapper {
    background: url('../../theme/assets/images/texture_back_main.png') left top no-repeat,
                url('../../theme/assets/images/main_bg.png') right top no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
}