.company_info {
    position: relative;
    display: flex;
    min-height: 90px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: var(--container-width);
    height: 100%;
    margin: 0 auto;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;

    & h3 {
        margin-bottom: 8px;
        font-family: Exo_Bold, sans-serif;
        font-size: 12px;
        line-height: 22px;
        color: var(--main-color);
    }

    & p {
        display: flex;
        flex-direction: column;

        & span {
            display: inline-block;
            font-family: Exo_Medium, sans-serif;
            font-size: 12px;
            line-height: 16px;
            color: var(--main-color);
        }

        & .info_link {
            color: var(--btn-color);
        }
    }
}


@media (min-width: 768px) and (max-width: 1333px) {
    .container {
        width: var(--container-width-ipad);
        margin: 0 var(--container-mg-ipad);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .info_wrapper {
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: var(--container-width-mobile);
        margin: 0 var(--container-mg-mobile);

        & .info_wrapper:last-child {
            margin-bottom: 0;
        }
    }

    .info_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        & p {
            align-items: center;
        }
    }
}
