@import 'scss/reset';
@import 'scss/fonts';
@import 'scss/variables';

html, body {
    font-family: OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    scroll-behavior: smooth;
}

#root {

}
