@import 'scss/reset';
@import 'scss/fonts';
@import 'scss/variables';
@import 'scss/mixins';

html, body {
    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: normal;
}

#root {

}
