@import '../../theme/scss/mixins';

.header {
    display: flex;
    align-items: center;
    padding: 50px 0 30px;
}

.container {
    display: flex;
    align-items: center;
    width: var(--container-width);
    margin: 0 auto;
}

.header_logo {
    width: 163px;
    height: 60px;
    margin-right: auto;

    img {
        display: inline-block;
        width: 163px;
        height: 60px;
    }
}

.btn {
    @include btn(var(--btn-color), var(--turquoise-bshadow));
    margin: 0 50px 0 25px;
}

@media (min-width: 768px) and (max-width: 1333px) {
    .container {
        margin: 0 var(--container-mg-ipad);
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .btn {
        margin-right: 30px;
    }
}

