.testimonials {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.bg_texture {
    position: absolute;
    top: -100px;
    right: 0;
    z-index: 0;
    width: 520px;
    height: 729px;
    background: url('../../theme/assets/images/texture_back_secondary.png') no-repeat;
    transform: rotate(180deg);
}

.container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    margin: 0 auto;
}

.comments {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 995px;
    height: 336px;
    margin: 0 auto;
    border-radius: var(--menu-bradius);
    background: url('../../theme/assets/images/testimonials_bg.svg') no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: -40px;
        left: -40px;
        width: 1015px;
        height: 356px;
        background: url('../../theme/assets/images/testimonials_border.svg') no-repeat;
    }

    .comments_caption {
        position: absolute;
        top: -30px;
        left: 40px;
        margin-bottom: 10px;
        font-family: Exo_Black, sans-serif;
        font-size: var(--main-title-fsize);
        line-height: 66px;
    }

    & > div  button[type="button"] {
        top: 156px;
        z-index: 10;
        width: 15px;
        height: 24px;
        outline: none;

        &:hover, &:focus {
            color: inherit;
        }

        &::before {
            display: none;
        }
    }

    & > div > button[type="button"]:first-child {
        left: -90px;
        background: url('../../theme/assets/icons/arrow.svg') no-repeat center;
        transform: rotate(180deg);
    }

    & > div > button[type="button"] {
        right: -90px;
        background: url('../../theme/assets/icons/arrow.svg') no-repeat center;
    }
}

.comments_card {
    display: flex;
    flex-direction: column;
    width: 500px !important;
    margin: 50px 0 10px 40px !important;
}

.card_descr {
    margin-bottom: 13px;
    width: 100%;
    font-size: 30px;
    line-height: 41px;
    color: var(--main-bgcolor);
}

.card_caption {
    display: flex;
    flex-direction: column;

    .caption_avatar {
        width: 40px;
        height: 40px;
        margin-bottom: 7px;
        border-radius: 50%;

        & > img {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .caption_text {
        display: flex;
        flex-direction: column;

        & span:first-child {
            display: inline-block;
            margin-bottom: 5px;
            font-family: OpenSans_Bold, sans-serif;
            font-size: var(--main-fsize);
            line-height: 25px;
        }

        & span:last-child {
            display: inline-block;
            font-size: var(--secondary-fsize);
            line-height: 19px;
        }
    }
}