.what_expect {
    position: relative;
    padding-bottom: 150px;
    background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 100% 0;
}

.container {
    display: flex;
    max-width: var(--container-width);
    min-height: 637px;
    margin: 0 auto;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.description_caption {
    display: flex;
    flex-direction: column;
    margin-bottom: 58px;

    .caption {
        margin-bottom: 11px;
        font-family: Exo_Black, sans-serif;
        font-size: var( --main-title-fsize);
        line-height: 66px;
    }

    .info {
        width: 90%;
        font-size: var(--main-fsize);
        line-height: 25px;
    }
}

.description_list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    & > div {
        display: flex;
        flex-wrap: nowrap;
        width: max-content;
    }

    & div:first-child {
        & .list_item:first-child {
            & span, h3 {
                color: var(--btn-color)
            }
        }
    }

    & div:last-child {
        & .list_item:nth-child(2) {
            & span, h3 {
                color: var(--btn-color)
            }
        }
    }

    & div:last-child {
        & .list_item {
            margin-bottom: 0;
        }
    }
}

.list_item {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 0 60px 60px 0;
    height: fit-content;

    & > span {
        display: inline-block;
        font-family: Exo_Thin, sans-serif;
        font-size: var(--large-title-fsize);
        line-height: 1.32;
        color: var(--title-color);
    }

    & > h3 {
        display: inline-block;
        margin-bottom: 13px;
        font-family: OpenSans_Bold, sans-serif;
        font-size: 30px;
        line-height: 50px;
        white-space: nowrap;
        color: var(--title-color);
    }

    & > p {
        font-size: var(--secondary-fsize);
        line-height: 19px;
    }
}

.images {
    position: relative;
    display: flex;
    width: 50%;
    min-height: 637px;
}

.images_logo {
   position: absolute;
    top: 30px;
    left: 0;
    width: 163px;
    height: 60px;
    background: url('../../theme/assets/icons/main_logo.png') no-repeat;
    background-size: cover;
    transform: rotate(-9.25deg);
}

.images_bottle {
    position: absolute;
    top: -50px;
    left: 290px;
    width: 95px;
    height: 95px;
    background: url('../../theme/assets/images/beer.svg') no-repeat;
}

.images_spiral {
    position: absolute;
    top: 80px;
    left: 510px;
    width: 132px;
    height: 132px;
    background: url('../../theme/assets/images/spiral.svg') no-repeat;
}

.images_ball {
    position: absolute;
    top: 360px;
    left: 575px;
    width: 117px;
    height: 117px;
    background: url('../../theme/assets/images/ball.svg') no-repeat;
}

.images_helicopter {
    position: absolute;
    top: 590px;
    left: 390px;
    width: 130px;
    height: 130px;
    background: url('../../theme/assets/images/helicopter.svg') no-repeat;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .what_expect {
        background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 120% 0;
    }

    .container {
        width: var(--container-width-ipad);
        margin: 0 var(--container-mg-ipad);
    }

    .description {
        width: 55%;
    }

    .images {
        width: 45%;
    }

    .description_caption {
        .info {
            width: 80%;
        }
    }

    .list_item {
        width: 230px;
        margin: 0 50px 60px 0;
    }

    .images_logo {
        left: -40px;
    }

    .images_bottle {
        top: -50px;
        left: 215px;
    }

    .images_spiral {
        top: 80px;
        left: 370px;
    }

    .images_ball {
        top: 360px;
        left: 425px;
    }

    .images_helicopter {
        top: 570px;
        left: 250px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .what_expect {
        background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 350px 30%;
    }

    .container {
        width: var(--container-width-ipad);
        margin: 0 var(--container-mg-ipad);
    }

    .list_item {
        width: 180px;
        margin: 0 50px 50px 0;

        & > h3 {
            height: 100px;
            white-space: normal;
        }
    }

    .images_logo {
        top: 150px;
        left: -80px;
    }

    .images_bottle {
        top: 70px;
        left: 160px;
    }

    .images_spiral {
        top: 200px;
        left: 330px;
    }

    .images_ball {
        top: 480px;
        left: 395px;
    }

    .images_helicopter {
        top: 710px;
        left: 210px;
    }
}

@media (min-width: 1024px) and (max-width: 1150px) {
    .description_caption {
        .info {
            width: 105%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: var(--container-width-ipad);
        margin: 0 var(--container-mg-ipad);
    }

    .description {
        width: 100%;
    }

    .description_caption {
        .info {
            width: 75%;
        }
    }

    .list_item {
        width: 180px;
        margin: 0 30px 30px 0;

        & > h3 {
            height: 100px;
            white-space: normal;
        }
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .what_expect {
        background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 400px 30%;
    }

    .images_logo {
        top: 180px;
        left: -220px;
        width: 116px;
        height: 43px;
        background-size: contain;
    }

    .images_bottle {
        top: 130px;
        left: -20px;
        width: 57px;
        height: 57px;
        background-size: contain;
    }

    .images_spiral {
        top: 230px;
        left: 90px;
        width: 94px;
        height: 94px;
        background-size: contain;
    }

    .images_ball {
        top: 450px;
        left: 120px;
        width: 83px;
        height: 83px;
        background-size: contain;
    }

    .images_helicopter {
        top: 600px;
        left: 0;
        width: 94px;
        height: 94px;
        background-size: contain;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .what_expect {
        background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 300px 30%;
    }

    .images_logo {
        top: 180px;
        left: -250px;
        width: 116px;
        height: 43px;
        background-size: contain;
    }

    .images_bottle {
        top: 130px;
        left: -80px;
        width: 57px;
        height: 57px;
        background-size: contain;
    }

    .images_spiral {
        top: 230px;
        left: -20px;
        width: 94px;
        height: 94px;
        background-size: contain;
    }

    .images_ball {
        top: 410px;
        left: -10px;
        width: 83px;
        height: 83px;
        background-size: contain;
    }

    .images_helicopter {
        top: 550px;
        left: -100px;
        width: 94px;
        height: 94px;
        background-size: contain;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .what_expect {
        background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 150px 10%;
    }

    .images_logo {
        top: 200px;
        left: -150px;
        width: 72px;
        background-size: contain;
    }

    .images_bottle {
        top: 170px;
        left: -30px;
        width: 35px;
        height: 35px;
        background-size: contain;
    }

    .images_spiral {
        top: 220px;
        left: 50px;
        width: 58px;
        height: 58px;
        background-size: contain;
    }

    .images_ball {
        top: 370px;
        left: 55px;
        width: 52px;
        height: 52px;
        background-size: contain;
    }

    .images_helicopter {
        top: 450px;
        left: -20px;
        width: 54px;
        height: 54px;
        background-size: contain;
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    .what_expect {
        background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 150px 10%;
    }

    .images_logo {
        top: 200px;
        left: -200px;
        width: 72px;
        background-size: contain;
    }

    .images_bottle {
        top: 170px;
        left: -80px;
        width: 35px;
        height: 35px;
        background-size: contain;
    }

    .images_spiral {
        top: 220px;
        left: 0;
        width: 58px;
        height: 58px;
        background-size: contain;
    }

    .images_ball {
        top: 370px;
        left: 5px;
        width: 52px;
        height: 52px;
        background-size: contain;
    }

    .images_helicopter {
        top: 450px;
        left: -70px;
        width: 54px;
        height: 54px;
        background-size: contain;
    }
}

@media (max-width: 480px) {
    .what_expect {
        background: url('../../theme/assets/images/what_expect_bg.svg') no-repeat 80px 10%;
    }

    .images_logo {
        top: 200px;
        left: -250px;
        width: 72px;
        background-size: contain;
    }

    .images_bottle {
        top: 170px;
        left: -130px;
        width: 35px;
        height: 35px;
        background-size: contain;
    }

    .images_spiral {
        top: 220px;
        left: -50px;
        width: 58px;
        height: 58px;
        background-size: contain;
    }

    .images_ball {
        top: 370px;
        left: -45px;
        width: 52px;
        height: 52px;
        background-size: contain;
    }

    .images_helicopter {
        top: 450px;
        left: -120px;
        width: 54px;
        height: 54px;
        background-size: contain;
    }
}

@media (max-width: 768px) {
    .what_expect {
        padding-bottom: 100px;
        background-size: 541px 355px;
    }

    .container {
        width: var(--container-width-mobile);
        margin: 0 var(--container-mg-mobile);
    }

    .description {
        width: 100%;
    }

    .description_caption {
        .caption {
            width: 100%;
            font-size: 30px;
            line-height: 39px;
        }

        .info {
            width: 100%;
        }
    }

    .description_list {
        &  div:first-child {
            flex-wrap: wrap;

            & .list_item:nth-child(1) {
                margin-right: calc(100% - 177px);
            }
        }

        &  div:last-child {
            position: relative;
            flex-wrap: wrap;

            & .list_item:nth-child(1) {
                position: absolute;
                top: -350px;
                left: 177px;
                margin-right: calc(100% - 177px);
            }
        }
    }

    .list_item {
        width: 158px;
        margin: 0 19px 30px 0;

        & > h3 {
            height: 100px;
            white-space: normal;
        }
    }
}



