@mixin btn($color, $boxShadow) {
    display: inline-block;
    background: linear-gradient(95.09deg, #554E5E 0%, #393049 101.68%);
    box-shadow: $boxShadow;
    width: 150px;
    height: 36px;
    border-radius: 7px;
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    color: $color;
    border: none;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        border: 1px solid $color;
        box-sizing: border-box;
        border-radius: 10px;
        width: 158px;
        height: 44px;
    }
}