.nav_wrap {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-right: 25px;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_item {
    margin: 0 25px;
}

.nav_link {
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.nav_link:hover {
    border-bottom: 1px solid var(--btn-color);
    font-weight: 700;
    color: var(--btn-color);
    transition: .5s border-bottom;
}